In [1]:
import pandas as pd
import numpy as np
import time
from math import inf

In [14]:
pd.set_option('display.max_columns',10)
pd.set_option('display.max_colwidth', 20)

### For manhattan road network

In [15]:
link_data = pd.read_csv('./roadnetwork_data/links.csv')
node_data = pd.read_csv('./roadnetwork_data/nodes.csv')

### For ulsan road network

In [16]:
# link_data = pd.read_csv('./roadnetwork_data/Ulsan_edges.csv')
# node_data = pd.read_csv('./roadnetwork_data/Ulsan_nodes.csv')

In [17]:
print(len(node_data))

95581

In [18]:
node_data['node_id'][2]

42467259

In [19]:
link_data.head()

,link_id,begin_node_id,end_node_id,begin_angle,end_angle,...,endX,endY,osm_changeset,birth_timestamp,death_timestamp
0,1,103235840,103225947,-161.51,16.99,...,-74.021994,40.883384,16353009,1405267167641,40000000000000
1,2,42516422,42516427,175.46,-4.68,...,-73.932013,40.639616,19443546,1405267167641,40000000000000
2,3,42516422,42516418,-4.60,175.40,...,-73.932509,40.644252,19443546,1405267167641,40000000000000
3,4,103235530,103235525,-103.43,82.40,...,-74.143464,40.948718,14802365,1405267167641,40000000000000
4,5,42762376,42756156,-23.92,156.25,...,-73.845749,40.879508,8219326,1405267167641,40000000000000

In [20]:
node_data.tail()

,node_id,is_complete,num_in_links,num_out_links,osm_traffic_controller,...,ycoord,osm_changeset,birth_timestamp,death_timestamp,grid_region_id
95576,42467298,t,3,3,NaN,...,40.653978,3218174,1405267167641,40000000000000,185
95577,42467294,t,4,3,NaN,...,40.653777,3218174,1405267167641,40000000000000,185
95578,42467292,t,2,3,NaN,...,40.653575,3218174,1405267167641,40000000000000,185
95579,42467278,t,3,2,NaN,...,40.657012,3218174,1405267167641,40000000000000,205
95580,42467274,t,3,3,NaN,...,40.656552,3218174,1405267167641,40000000000000,205

In [21]:
print('#nodes:', len(node_data))
print('#links:', len(link_data))

#nodes: 95581
#links: 260855